<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WMS Automation Testing">



  <test name="WMS" parallel="false" thread-count="3">
    <classes>
      <class name="vTEST.WMS.ItemTest"/>
      <class name="vTEST.WMS.LocationTest"/>
      
    </classes>
  </test> <!-- Test -->

</suite> <!-- WMS_Suite -->
